<div class="tab btn-open">
    <%= icon 'fa-arrow-left' %>
</div>

<div class="content">

    <div id="preview-empty">
        <%= t.aerogel.admin.pages.views.index.no_page_selected %>
    </div>

    <div id="preview" class="container">
        <!-- page preview here -->
    </div>

    <div class="bottom-toolbar">
        <div class="container">
            <a href="#edit" class="btn btn-primary page-edit-link">
                <%= icon 'fa-edit' %> <%= t.aerogel.admin.pages.edit %>
            </a>
        </div>
    </div>

</div> <!-- .content -->
