<%
    alignment_class = case block.alignment
        when :left then "pull-left"
        when :middle then "center-block"
        when :right then "pull-right"
    end
%>
<div class="<%= alignment_class %>">
    <% if block.thumb.present? %>
        <%= image_thumb_tag block.image, block.thumb, title: block.name %>
    <% else %>
        <%= image_tag block.image %><br/>
        <%= block.name %>
    <% end %>
</div>