@mixin form-details {
    div.form-row {
        margin-bottom: 5px;
    }
    div.form-row:last-child {
        margin-bottom: 0;
    }
    input[readonly="readonly"] {
        background: $body-bg;
    }
}