@mixin panel-info {
    background: #f0f0f0;
    padding: 5px 15px 5px 15px;
    margin: 0;
    .smart-link {
        color: darken( $link-js-color, 10% );
        &:hover {
            color: darken( $link-js-hover-color, 10% );
        }
    }
}