<ol class="breadcrumb">
<% @page.parent.ancestors_and_self.sort_by(&:depth).each do |p| %>

    <li>
        <%= render_once :home, icon('fa-home') %>
        <%= admin_pages_title_as_icon_and_text p, @lang %>
    </li>
<% end if @page.parent.present? %>
    <li>
        <%= @page.page_type.try(:name) %>
    </li>
</ol>