<ol class="breadcrumb">
<% @page_node.parent.ancestors_and_self.sort_by(&:depth).each do |p| %>

    <li>
        <%= render_once :home, icon('fa-home') %>
        <%= admin_pages_title_as_icon_and_text p, @lang %>
    </li>
<% end if @page_node.parent.present? %>
    <li>
        <%= icon 'fa-file-text-o' %>
        <%= @page_node.page_type.try(:name) %>
    </li>
</ol>