<div class="page-content-block-header">
<span class="type"><%= type %></span>
<span class="button-delete">
    <%= icon 'fa-times' %>
</span>
</div>

<%=
    begin
        partial "admin/pages/edit/content_block_#{type}", layout: false, scope: self
    rescue Errno::ENOENT
        partial "admin/pages/edit/content_block_default", layout: false, scope: self
    end
%>
