<div class="content">
    <div class="row">
        <div class="col-sm-6">
            <%= field :image %>
            <%= field :name, as: :text_inline %>
        </div>
        <div class="col-sm-6">
            <%=
                field :alignment, as: :radio_buttons, required: true,
                    values: [:left, :middle, :right],
                    labels: [
                        icon('glyphicon-picture')+' '+icon('fa-align-justify'),
                        icon('glyphicon-picture'),
                        icon('fa-align-justify')+' '+icon('glyphicon-picture')
                    ]
            %>
            <%= field :thumb, as: :text_inline %>
        </div>
    </div>
</div>
