<fieldset class="<%= fieldset.object_name %> <%= 'fieldset-with-errors' if fieldset.invalid? %>">
<div class="fieldset">
    <%= content %>
    <%= fieldset.object.persisted? ? fieldset.hidden(:id) : '' %>
</div>
</fieldset>
