<% assets 'controllers/admin-pages-edit' %>
<div class="page-edit-form">

<%= partial "admin/pages/edit/breadcrumbs" %>

<% form @page,
    cancel_url: "/admin/pages/#{@lang}-#{@selected_page.id}",
    current_lang: @lang,
    multipart: true,
    html_params: { novalidate: true } do
%>

    <%= partial "admin/pages/edit/page", scope: self, locals: { form_builder: self, object: object } %>

<div class="form-buttons">
    <div class="container">
        <%= button :cancel, url: options[:cancel_url] %>
        <%= button :save %>
    </div>
</div>
<% end %>

</div>
