<div class="tab  btn-open">
    <%= icon 'fa-arrow-right' %>
</div>

<div class="content">
    <div id='debug' style="display:none">
    debug message
    </div>

    <%
        table @pages, style: 'smart-tree-table', html_params: { id: 'tree' } do
            column :drag_handle, label: '' do |p|
                ''
            end
            column :name, label: Page.human_attribute_name(:name)
        end
    %>

    <div class="bottom-toolbar">
        <div class="container">
            <div class="btn-group">
                <% link_to "new", class: "btn btn-default btn-sm page-append-link", title: "Add new page" do %>
                    <%= icon 'fa-plus' %> Add
                <% end %>

                <% link_to "new", class: "btn btn-default btn-sm page-insert-link", title: "Insert new page" do %>
                    <%= icon 'fa-arrow-right' %> Insert
                <% end %>
            </div>

            <% link_to_modal "new", class: "btn btn-default btn-sm page-delete-link" do %>
                <%= icon 'fa-times' %>
                Delete page
            <% end %>
        </div>
    </div>

</div> <!-- .content -->

