<% assets 'controllers/admin-pages' %>

<% page_title t.aerogel.admin.panes.pages %>

<div class="pages-widget">
<div class="pane-tree pane left">
    <%= partial 'admin/pages/index_pane_tree' %>
</div><div class="pane-preview pane right">
    <%= partial 'admin/pages/index_pane_preview' %>
</div>
</div>



<script type="text/javascript">
    $(function(){
        tree_expand("<%= Page.root.id %>");
        // pages_widget.open_left();
<% if @selected_page %>
        tree_select("<%= @selected_page.id %>");
<% end %>
    });

function edit_page_clicked() {
    alert("selected_page: "+selected_page);
}
</script>
