.pane-tree {
    .nav-tabs {
        padding: 5px 5px 0 5px;
        a {
            padding: 5px 10px;
        }
    }

    table tbody {
        tr td:nth-child(1), tr td:nth-child(2) {
            width: 16px;
            text-align: center;
        }
    }
}