.page-preview-body {
    .breadcrumb {
        margin-bottom: 15px;
    }
    .title {
        margin: 0 0 7px;
        padding: 0;
    }

    .headers {
        margin: 0 0 15px 0;
        padding-bottom: 7px;
        color: $item-disabled-fg;
        border-bottom: 1px solid #eee;
    }
}