.page-edit-form {
    .form {
    }

    .form-buttons:not(.floating) {
        .container {
            width: 100%;
            padding: 0;
        }
    }
    .form-buttons.floating {
        background: rgba( 0,0,0, 0.3 );
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        left: 0;
        z-index: 100;
    }

}