
.page-blocks fieldset:first-child {
    &:hover {
        border-top: 1px solid #ccc;
    }
}

fieldset.page_block {
    @include page-block-expandable( 30px );
    box-sizing: content-box;
    margin-top: -1px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    &:hover {
        z-index: 1;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .header {
        color: $link-js-color;

        .btn-block-delete {
            position: absolute;
            right: 0;
            border: none;
            background: inherit;
            color: $link-js-color;
            padding-right: 0;
            &:hover {
                text-decoration: none;
                color: $link-js-hover-color;
            }
        }

        .header-label {
            display: inline-block;
        }
    }

    .content {
        margin-bottom: 5px;
        .form-group {
            margin-bottom: 5px;
        }
    }

    .details {
        @include panel-info;
    }

    &:not(:hover)  {
        .header.open {
            visibility: hidden;
        }
        .content {
            // hide inputs in .content, not in .details
            .btn {
                visibility: hidden;
            }
            textarea, input {
                &:not(:hover):not(:focus) {
                    border: 1px solid white;
                    box-shadow: none;
                }
            }
        }

    }

    &.ui-sortable-helper {
        padding: 3px;
        background: white;
        border: 1px solid #ddd;
        opacity: 0.7;
        box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.5 );
    }
}

// sortable placehoder
.page-block-sortable-placeholder {
    height: 30px;
    // border: 1px solid green;
    background: #93e08a;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}