
.page-blocks fieldset:first-child {
    &:hover {
        border-top: 1px solid #ccc;
    }
}

fieldset.page_block {
    @include page-block-expandable( 30px );
    box-sizing: content-box;
    margin-top: -1px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    &:hover {
        z-index: 1;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .header {

        .btn-block-delete {
            position: absolute;
            right: 0;
            border: none;
            background: inherit;
            color: $link-js-color;
            padding-right: 0;
            &:hover {
                text-decoration: none;
                color: $link-js-hover-color;
            }
        }


    }

    .content {
        margin-bottom: 5px;
        .form-group {
            margin-bottom: 5px;
        }
    }

    &:not(:hover)  {
        .header.open {
            visibility: hidden;
        }
        .btn {
            visibility: hidden;
        }
        textarea, input {
            &:not(:hover):not(:focus) {
                border: 1px solid white;
                box-shadow: none;
            }
        }

    }
}