
$block-content-fields-spacing: 10px;
.page-content-header {
    @include page-block-expandable( 30px );

    .content {
        @include panel-info;
        .row, .form-group {
            margin-bottom: $block-content-fields-spacing;
        }
        div:last-child {
            margin-bottom: 0;
        }
    }
}
