
.page-content-blocks fieldset:first-child {
    &:hover {
        border-top: 1px solid #ccc;
    }
}

$block-header-height: 30px;
$block-header-closed-height: 30px;

fieldset.page_content_block {
    position: relative;
    // background: #eee;
    // padding-top: $block-header-height; // height of block header
    box-sizing: content-box;
    margin-top: -1px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    &:hover {
        z-index: 1;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .header {
        position: relative;
        &.open { height: $block-header-height; line-height: $block-header-height; }
        &.closed { height: $block-header-closed-height; line-height: $block-header-closed-height; }

        .header-label {
        }
        i { width: 16px; }
        .type {
            text-transform: uppercase;
        }
        .btn-block-delete {
            position: absolute;
            right: 0;
            border: none;
            background: inherit;
            color: $link-js-color;
            padding-right: 0;
            &:hover {
                text-decoration: none;
                color: $link-js-hover-color;
            }
        }


    }

    .content {
        margin-bottom: 5px;
        .form-group {
            margin-bottom: 5px;
        }
    }

    &:not(:hover)  {
        .header.open {
            visibility: hidden;
        }
        textarea:not(:hover):not(:focus) {
            border: 1px solid white;
            box-shadow: none;
        }

    }
}