<ol class="breadcrumb">
<% @page_node.ancestors.sort_by(&:depth).each do |p| %>
    <li>
        <%= render_once :home, icon('fa-home') %>
        <%= link_to "#{@lang}-#{p.id}",
                admin_pages_title_as_icon_and_text( p, @lang ),
                onclick: "pages_widget.goto_page('#{p.id}'); return false"
        %>
    </li>
<% end %>
</ol>