<%
    page = menu_item
    subpages = page.children.published.to_a
%>
<li class="<%= (current_url.start_with? page.url) ? 'active' : '' %>">
    <%= link_to page.url, h(page.title) %>

    <% if subpages.present? %>
    <ul class="menu">
        <%= partial "layouts/pages/menu_item", collection: subpages %>
    </ul>
    <% end %>

</li>

